.button-reset{
    background-color: #27f87754;
    font-weight: 100;
    color: #e6f4ffd7;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.151);
    &:hover{
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.486);
        background-color: #27f8779d;
    }
}